
<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <title> HOME PAGE </title>
  <script language="JavaScript">
  function webopen(url){
    var final_url;
      if (url.split('://').length > 1)
          final_url = url.split('://')[1]
      else
        final_url= url;
    return final_url;}
    function showInput(number){
      var c = 'display-url-'
      var d = 'url-'
      c+=number;
      d+=number
      document.getElementById(c).innerHTML = document.getElementById(d).value;
      return document.getElementById(d).value;
    }
    function compare_url(number){
      var a = final_url(showInput('one'))
      var b = final_url(showInput(number))
      var c = (a === b)?1:0;
      document.getElementById('compare-result').innerHTML = 'Output is : '+c+'\n Hence The two urls are the same.';
    }
    function final_url(url){
      var med_url = url.split('://');
      var final_url='';
      var url_length;
      // med url is for intermediate url i.e. one without http or https.
      if(med_url.length>1)
        {
          if(med_url[1].split('.').length===2)
            {
                final_url = med_url[1].split('.')[0]
                return final_url;
            }
            else
            {
                url_length = med_url[1].split('.').length;
                final_url = med_url[1].split('.')[url_length-2]
                return final_url
            }
          }
          else
          {
          if(url.split('.').length === 2 )
          {
            final_url = url.split('.')[0]
            return final_url;
          }
          else {
            url_length = url.split('.').length;
            final_url = url.split('.')[url_length-2]
            return final_url
          }
        }
    }
   </script>
   <style>h1{
     text-align: center;
     color: blue;
     }
     body{
     	background-image: "{% static 'images/background.jpg' %}";
     }
 </style>
</head>
<body>
  <h1> Welcome to the homepage</h1>
  <div class="container">

    <div class="jumbotron">
  <h6> Below are four input places. Enter your URL and click on GO TO URL button to open your required URL.</h6>
  <p>
    At the end, there is a button to compare the URLs. Do not forget to explore that.
  </p>
  <small> The program has been made flexible for you. That means if you want to enter google.com you can enter it as :
"https://google.com", "http://google.com", "google.com", "www.google.com", "https://www.google.com", "http://www.google.com"
  </small>
</div>
    <p>
      First URL:
    </p>
    <input type="text" id="url-one" placeholder="Enter First URL" />
    <button type="button"  value="submit" onClick="javascript: window.open('http://' + webopen(document.getElementById('url-one').value));showInput('one');" class="btn btn-primary"> GO TO URL </button>
    <p> First URL is :
      <span id='display-url-one'></span>
    </p>
    <p></p>
    <p>
      Second URL:
    </p>
    <input type="text" id="url-two" placeholder="Enter Second URL" />
    <button type="button"  value="submit" onClick="javascript: window.open('http://' + webopen(document.getElementById('url-two').value));showInput('two');" class="btn btn-primary"> GO TO URL </button>
    <p> Second URL is :
      <span id='display-url-two'></span>
    </p>
    <p></p>
    <p>
      Third URL;
    </p>
    <input type="text" id="url-three" placeholder="Enter Third URL" />
    <button type="button"  value="submit" onClick="javascript: window.open('http://' + webopen(document.getElementById('url-three').value));showInput('three');" class="btn btn-primary"> GO TO URL </button>
    <p> Three URL is :
      <span id='display-url-three'></span>
    </p>
    <p></p>
    <p>
      Fourth URL:
    </p>
    <input type="text" id="url-four" placeholder="Enter Fourth URL" />
    <button type="button"  value="submit" onClick="javascript: window.open('http://' + webopen(document.getElementById('url-four').value));showInput('four');" class="btn btn-primary"> GO TO URL </button>
    <p> Fourth URL is :
      <span id='display-url-four'></span>
    </p>
    <p></p>
    <p>
      Now, its time to compare urls with the first url. Click on the Button of URL you want to compare with.
    </p>
    <p></p>
    <button type="button" class="btn btn-primary" value="submit" onClick="javascript: compare_url('two');"> SECOND URL </button>
    <button type="button" class="btn btn-primary" value="submit" onClick="javascript: compare_url('three');"> THIRD URL </button>
    <button type="button" class="btn btn-primary" value="submit" onClick="javascript: compare_url('four');"> FOURTH URL </button>
    <br /><br /><h6 id="compare-result"></h6> <br /><br />
<p>
   Thanks a lot for visiting this webpage.
</p>
<br /> <br />
  </div>
</body>
</html>
